img {
    width: auto;
    height: auto;
}

figure {
    position: relative;
    right: 2.5rem;
    margin-bottom: 5rem;
}

figcaption {
    text-align: center;
    margin-left: 5rem;
}

.article__img {
    width: 100vw;
    height : 150vw;
}

.article__img2 {
    width: 100%;
    margin-left: 2.5rem;
}

.article__img3 {
    width: 100vw;
    height: auto;
}
