img {
    width: auto;
    height: auto;
}

figure {
    position: relative;
    right: 2.5rem;
}

.article__img {
    width: 100vw;
    height : 150vw;
}

figcaption {
    position: absolute;
    left: 5rem;
}