.footer {
    position: absolute;
    margin-top: 1.5rem;
    background-color: black;
    height: 11rem;
    width: 100%;
}

.footer__media, .footer__media1 {
    margin-left: 2rem;
}

.footer__media1 {
    margin-top: 0.2rem;
    position: relative;
    top: 0.2rem;
}

.footer__text {
    text-align: center;
    margin: auto;
    margin-top: 1.7rem;
}