.footer {
    padding-right: 10px;
    margin-top: 10rem;
    background-color: black;
    width: 100vw;
    height: 12rem;
}

.footer__media, .footer__media1 {
    margin-left: 3vh;
    margin-right: 2vh;
    text-align: center;
}

.footer__media1 {
    margin-top: 0.2rem;
    position: relative;
    top: 0.2rem;
}

.footer__text {
    text-align: center;
}