.header__menu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
}

.header__button, .header__menuicone {
    width: 3rem; 
    margin-right: 0.3rem;
}