.header__menu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
}

.header__button, .header__menuicone {
    width: 3rem; 
    position: absolute;
    left: 85%;
    top: 35%;
}

