.article__title {
    position: relative;
    bottom: 8.5rem;
    text-align: center;
}

.article__icon {
    position: relative;
    bottom: 9rem;
    margin-left: 50%;
    transform: rotate(90deg);
    width: 2rem;
    height: 1.5rem;
}

.article__text {
    position: relative;
    bottom: rem;
}